body {
    color:white;
    font-family: "Palatino", sans-serif;
    background: #2d3e5e;
}

label{
    padding: 18px;
    font-size: 18px;
}
#login{
    background-color: #D6E3FE;
    border:none;
    width: 100px;
    color: #2d3e5e;
    font-size: larger;
    font-weight: bold;

}

#crudTable {
    background-color: transparent;
    color: white;
}
  
#crudTable th, #crudTable td {
    background-color: transparent; 
    color: white;
}

#crudTable th:nth-child(odd){
    width: 22%; 
}

#crudTable th:nth-child(2){
    width: 38%; 
}

#min,#mas{
    width: 20%;
    font-size: larger;
    background-color: transparent;; 
    color: white;
    border: none;
}
td{
    padding: 10px;
}

#welcomeMessage{
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
 
    height: 100%;
}

#generate{
    background-color: #3A755F; 
    border: none;
    color: #fff;
}
#clean{
    background-color: #9B2E31; 
    border: none;
    color: #fff;
}
